#navbar {
    display: flex;
    justify-content: space-between;
    padding-left: 4%;
    padding-right: 4%;
    border: solid 1px black;
    text-decoration: none;
}

#options {
    display: flex;
    justify-content: space-between;
}
input {
font-size: small;
}
#options h3 {
    padding-left: 50px;
    padding-right: 10px;
}

img {
    width: 100%;
}
#container {
    display: grid;
    grid-template-columns: repeat(4,25%);
    grid-gap: 20px;
    justify-content: center;
    padding: 5%;
}